body {
    margin: auto;
    max-width: 1000px;
    font-family: Arial, Helvetica, sans-serif;
}

.notification {
    display: inline-block;
    padding: 0.5em
}

.is_error {
    background-color: red;
}

.is_success {
    background-color: lightgreen;
}