body {
    margin: auto;
    max-width: 500px;
}

.notification {
    display: inline-block;
    padding: 2em;
}

.is_error {
    background-color: red;
}

.is_success {
    background-color: green;
}