{% extends "layout.html" %}

{% block content %}
<h2 class="text-dark text-center">topics</h2>
<div class="row d-flex justify-content-center align-items-center">
    <ul class="list-group">
        {% for item in topics %}
        <div class="card">
            <li class="list-group-item card-body">
                <a class="" href="{{ url_for('topic', name=item[0]) }}">{{ item[0] }}</a>
                <small>active threads: {{ item[1] }}</small>
            </li>
        </div>
        {% endfor %}
    </ul>
</div>
{% if session.admin %}
<div class="mt-5 form-group d-flex justify-content-center align-items-center flex-column text-center">
    <form action="" id="new_topic" method="POST">
        <label for="new_topic">Create a new topic</label>
        <input class="form-control mb-2" type="text" id=new_topic name="title" placeholder="title"></input>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <input class="btn-light" type="submit" value="Send"></input>
    </form>
</div>
{% endif %}
{% endblock %}