<html>
    <head>
        <link rel="stylesheet" href=" {{  url_for('static', filename='main.css')  }}">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>My test page</title>
    </head>
    <body>

        <div class="navbar">
            <nav>
                <a href="{{ url_for('index') }}">Home</a>
                <a href="{{ url_for('login') }}">Login</a>
                <a href="{{ url_for('register') }}">Register</a>
            </nav>
        </div>
        
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>    