{% extends "layout.html" %}

{% block content %}
<h2>Log in with an existing account</h2>
<form action="/login" method="POST">
    <div class="form-group">
        <label for="name">Name:</label>
        <input class="form-control" type="text" id="name" name="login_name">
        <label for="pw">Password:</label>
        <input class="form-control" type="password" id="password" name="login_password">
        <br>
        <input class="btn-light" type="submit" value="Login">
    </div>
</form>
{% endblock %}