{% extends "layout.html" %}
{% block content %}
{% for post in posts %}
<ul class="list-group">
    <li class="border rounder list-group-item">
        <b><a href="{{ url_for('profile', username=post[0]) }}">{{ post[0] }}</a></b>
        <p>{{ post[1] }}</p>
    </li>
</ul>
{% endfor %}
{% if session["username"] %}
<div>
    <form action="" id="new_post" method="POST">
        <label for="new_post">Create a new post</label>
        <textarea type="text" name="content" placeholder="text"></textarea>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <br>
        <input type="submit" value="Send"></input>
    </form>
{% endif %}
{% endblock %}