{% extends "layout.html" %}

{% block content %}
<div class="d-flex flex-column justify-content-center align-items-center">
<h2>This is the place to discuss {{ topic }}</h2>
<h3>Current threads</h3>
<ul class="list-group mb-5">
{% for item in threads %}
    <li class="list-group-item">
    <a class="p-1" href="{{ url_for('thread', topic=topic, id=item[0]) }}">{{ item[1] }}</a> 
     created at {{ item[2].strftime('%Y-%m-%d %H.%M.%S') }}
    <br>
    </li>
{% endfor %}
</ul>
</div>
{% if session.username %}
<div class="form-group d-flex justify-content-center align-items-center flex-column">
    <form action="{{ topic }}" id="new_topic" method="POST">
        <div>
        <label for="new_topic">Create a new topic</label>
        <input class="form-control" type="text" id=new_topic name="title" placeholder="title"></input>
        <label for="first_post">Post</label>
        <textarea class="form-control" id="first_post" type="text" name="content" placeholder="text"></textarea>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <input type="submit" value="Send"></input>
    </form>
</div>
{% endif %}
{% endblock %}